#banner {
  background-color: darkblue;
}

#banner h1 {
  color: white;
  text-align: left;
  margin: 0 auto;

}

#banner p {
  color: silver;
  text-align: left;
  margin-left: 25px;
}

#banner .navigation {
  background-color: navy;
  text-align: center;
  margin: 20px 300px;
}

#banner .navigation ul {
  margin: 0;
  padding: 0;

}

#banner .navigation li {

}

#banner .navigation a {
  color: white;
  font-size: 18px;
}
